<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wydatki</title>
    <style>
        h2 {font-size: 30px; margin: auto}
        input {font-size: 15px; margin: auto}
       table, th, tr, td, input {border: 1px solid black;font-size: 20px;margin: 5px}
    </style>
</head>

<h2>Lista wydatków</h2>

<table>
    <thead>
    <th>Tytuł</th>
    <th>Opis</th>
    <th>Czy zapłacone?</th>
    </thead>
{% for todo in todos %}
    <tr>
        <td><a href="/todos/{{ loop.index }}">{{ todo.title }}</a></td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.done }}</td>
    </tr>
{% endfor %}
</table>
<br> </br>
<div>
    <h2> Dodaj nowy wydatek: </h2>
    <form method="POST" action="/todos/">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Potwierdź">
    </form>
</div>
</body>
</html>